
body {
  background-color: white;
  margin: 0px;
  padding: 0px;
}
.main-head {
  background-color: rgb(44, 11, 87);
  height: 5.3vh;
}
.head {
  padding: 1vh;
  color: white;
  font-size: 16px;
  position: absolute;
  right: 2%;
  word-spacing: 3px;
  font-family: "Roboto", sans-serif;
}
.head div {
  display: inline-block;
  cursor: pointer;
  font-family: 'Arvo', serif;

}
.head div:nth-of-type(3) {
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding-left: 4px;
  padding-right: 4px;
}
.head div:nth-of-type(2) {
  border-left: 1px solid white;
  padding-left: 4px;
  padding-right: 4px;
}
/* /////////REVALATION SECTION//////////
//////////////////////// */
.revalation {
  display: grid;
  grid-template-columns: 30% 52%;
  justify-content: space-between;
  font-family: "Merriweather", serif;
}
.revalation1 {
  padding: 7.3%;
  color: rgb(23, 13, 43);
  line-height: 8px;
}

.revalation1 h1{
  font-size: 1.5em;
}
.revalation1 span{
  font-size: 1.5em;
}
.revalation1 p {
  color: rgb(82, 52, 109);
  font-family: 'Arvo', serif;
  
}
.revalution2 {
  margin: 2% 2% 5% 2%;
  text-align: right;
  font-family: 'Arvo', serif;
  width: 95%;
  align-self: flex-end;
  box-sizing: border-box;
  text-decoration:none;
}
.revalution2 li {
  list-style-type: none;
  display: inline;
}
.revalution2 hr{
  width: 93%;
  border: 0.4px solid rgb(224, 221, 221);
  margin-left: 7%;
}

.revalution2 a {
  font-family: 'Arvo', serif;
 margin-left: 1%;
  text-decoration: none;
}
.revalution2 a:hover {
  padding: 9px 0px;
  border-bottom:  2px solid black;
}
/* ///////////////////////start////
///////////catchy section////////
///////// */
.catchy {
  display: grid;
  grid-template-rows: 40% 59%;
  grid-template-columns: 40% 50%;
  justify-content: space-between;
  background-color: rgb(233, 233, 233);
  padding: 2.4% 0.4% .01% 1%;
  font-family:"Lora", serif;
  height: 40%;
  box-sizing: border-box;
}
.catchy-img {
  box-sizing: border-box;
}
.hr{
  width: 20%;
  height: 0px;
  border: 4px solid gray;
  margin-top:0%;
  margin-left: 42% ;
}
.imgcatchy{
  width:116%;
  background-color: rgb(179, 173, 173);
  height: 430px;
  border-radius: 10%;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  box-sizing: border-box;
}
.imgcatchy img {
  width: 100%;
  box-sizing: border-box;
  height: 380px;
  border: 20px solid black;
  border-radius: 5%;
}
.catchy-heading {
  padding-right: 2vh;
  padding-top: 16%;
}
.catchy-heading h1 {
  font-size: 2em;
}
.catchy-heading p {
  font-family: "Lora", serif;
  margin-top: 2%;
  font-size: 1.5em;
}
.catchy-heading button {
  font-family: "Lora", serif;
  padding: 10px;
  font-size: 1.2em;
  background-color: rgb(48, 17, 51);
  border-radius: 8%;
  border: none;
  color: white;
  margin-top: 2%;
}
.catchy-heading i {
  font-size: 11px;
}
/* //////////////////////////
///////////
icon section///////////// */
.scrol{
  margin: 0%;
  padding:5% 0% 0% 0%;
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
  font-size: 4em;
  box-sizing: border-box;
}
.icon2{
text-align: right;
}
.icon {

  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  justify-content: space-between;
  text-align: center;
  padding: 0% 5% 2% 5%;
  color: rgb(72, 48, 92);
  font-family: "Lora", serif;
}


.icon i {
  font-size: 4em;
  padding: 2%;
}

.icon div{
  position: relative;
}
.icon h1 {
  padding-top: 6%;
}
.icon hr {
  margin-top: 9%;
}
.icon p {
  padding-top: 9%;
  font-family: "Lora", serif;
  font-size: 1.2em;
}
.s {
  color:black;
  text-align: center;
  margin-top: 2% 2%;
  padding: 0% 2% 0% 2%;
  opacity: 0.7;
}
.s:hover{
  opacity: 0.8;
cursor: pointer;
}
i:hover{
  cursor: pointer;
}
/* ////////////////////
/////////////// */
.fecilis {
    font-family: "Lora", serif;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  margin: 3.5% 2% 0% 2%;
  justify-content: space-between;
}
.fecilis h4{
  cursor: pointer;
}
.fecilis img {
  width: 100%;
  height: 270px;
  padding: 4% 0% 4% 0%;
}
.fecilis h3 {
    font-family: "Lora", serif;
  margin-top: 10%;
  font-size: 1.3em;
}
.fecilis h4 {
    font-family: "Lora", serif;
  margin-top: 10%;
  font-size: 1.1em;
}
.fecilis p{
    font-size: 1.2em;
}
.fecilis i {
  font-size: 10px;
}
/* ///////////// */
.latest-form {
    font-family: "Lora", serif;
  margin-top: 2%;
  background-color: rgba(28, 28, 29, 0.932);
  color: rgb(122, 119, 119);
  width: 99%;
}
.latest-form h2{
  font-family: 'Merriweather', serif;
  font-size: 1.3em;
  color: white;
}
.form-blog h4 a{
  margin-right: 2%;
}
.latest-form a{
color: rgb(202, 165, 192);
text-decoration-style: none;

}
.latest-sub-div {
    font-family: "Lora", serif;
  padding: 2% 0% 0% 1.7%;
  display: grid;
  grid-template-columns: 25% 25% 25% 20%;

  justify-content: space-between;
}
.form-blog h4 {
  padding: 6% 0% 6% 0%;
}
.form-blog p {
  font-size: 1em;
}
.linkblock h2{
  margin-left: 12%;
}
.linkblock ul {
  margin-top: 9%;
}
.linkblock li {
  margin-top: 2%;
  color: rgb(56, 53, 53);
  font-size: 1em;
}
.linkblock i{
  font-size: 8px;
color: white;
margin-right: 2%;
}
h4 span {
  font-size: 12px;
}
.companydetail h2 {
  margin-bottom: 8%;
}
.h2para p {
  margin-top: 1.4%;
}
.h2paraa {
  margin-top: 6%;
}
.h2paraa ul{
  margin-top: 1.4%;
  text-decoration-style: none;
}

.newslaterinput {
  margin-top: 10%;
  width: 70%;
}
.newslaterinput input {
  padding: 5%;
  font-size: 0.9em;
  width: 120%;
  margin-top: 7%;
  border-radius: 4%;
  border: none;
  color: rgb(83, 81, 81);
  background-color: rgb(56, 53, 53);
}
.newslaterinput input:nth-of-type(3) {
  background-color: rgb(192, 146, 161);
  color: rgb(241, 214, 214);
  font-size: 1em;
  width: 40%;
  padding: 3%;
  cursor: pointer;
}
.newslaterinput input:nth-of-type(3):hover{
  opacity: 0.7;
}
.newslatericon i {
  margin-top: 10%;
  margin-left: 2%;
  padding: 3%;
  border-radius: 50%;
  color: rgb(83, 81, 81);
  background-color: rgb(56, 53, 53);
  cursor: pointer;
}
.footer {
  margin-right: 0.5% 0%;
  display: grid;
  font-size: 1em;
  grid-template-columns: 50% 30%;
  justify-content: space-between;
}
.companydetail {
  text-decoration: none;
}
.imo {
  width: 100%;
  height: 0px;
  border: 0.8px solid rgb(68, 65, 65);
  margin-top:0%;

}
button{
  cursor: pointer;
}
button:hover{
opacity: 0.8;
}
.f3{
  padding-left: 5%;
}

i:hover{
  opacity: 0.6;
}
a{
  text-decoration: none;
}
/* //////////////////////////////
//////////////////////////
media//////////////
////////////// */
@media screen and (max-width:1140px){
.revalation{
  grid-template-columns: 34% 64%;
}
}
@media screen and (max-width:740px) {

  .revalation {
    grid-template-columns: 100%;
    text-align: center;
    padding: 0%;
    margin: 0%;
  }
  .revalation2{
    padding: 0%;
  }
  .revalation2{
    margin: 0% 0% 0% 0%;
    text-align: center;
  }
  .hr{
    margin-left: 40%;

  }

}
@media screen and (max-width:666px) {
  
 .icon {
    grid-template-columns: 47% 47%;
    grid-template-rows:50% 50%;
    text-align:center;
  }
 
  .revalution2{
    padding: 0%;
    margin: 0%;
  }
  .revalution2 li{
    display: block;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
  }
 .fecilis{
    grid-template-columns: 47% 47%;
    grid-template-rows:50% 50%;
    text-align:center;
  }
  .latest-sub-div{
    grid-template-columns: 47% 47%;
    grid-template-rows:50% 50%;
    text-align:center;
  }
  .catchy{
    grid-template-columns:98%;
    grid-template-rows:auto;
    text-align:center;
    padding-bottom: 2%;
  }
  .imgcatchy{
    width:100%;
  }
  .imgcatchy img {
  height: 380px;;
  }
}
@media screen and (max-width:360px){
  .head{
    font-size: 12px;
  }
  .icon {
     grid-template-columns: 99%;
     grid-template-rows:auto;
     text-align: center;
   }
   .fecilis {
    grid-template-columns: 99%;
    grid-template-rows:auto;
    text-align: center;
  }
   .latest-sub-div {
    grid-template-columns: 99%;
    grid-template-rows:auto;
}
.footer{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 98%;
  text-align: center;
  margin: 0%;
}
}